// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons|Raleway:300,400,600")
@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css")


// @import "tailwindcss/base"
// @import "tailwindcss/components"
// @import "tailwindcss/utilities"

@tailwind base
@tailwind components
@tailwind utilities

// Variables


html, body
	margin: 0
	padding: 0

	height: 100%
	
	font-family: Lato, Raleway, sans-serif
	font-weight: normal
	font-size: 14pt

	overflow: hidden

a
	text-decoration: none

#overview-links
	text-align: center
	margin-top: 20px

	> div
		a
			display: inline-block
			width: 40%
			height: 150px

			padding: 50px

			font-size: 30pt
			text-align: center

			border: 1px solid #CCC
			background: #EEE

			color: #333

			&:nth-child(2)
				background: #222
				color: #EEE

#app
	.linear-progress-bars
		position: absolute
		
		bottom: 2%
		left: 2%
		right: 2%
		
		text-align: center

		.program
			height: 100px
				
			.text-overlays
				padding: 10px

			.duration
				padding: 5px
				font-size: 30pt
		
		.preview
			height: 30px
			margin-bottom: 1px

			.text-overlays
				padding: 2px

		// Shared for both program and preview
		.program, .preview
			background: rgba(0, 0, 0, 0.2)
			position: relative

			.text-overlays
				position: absolute
				height: 100%
				width: 100%

				z-index: 10

				text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)

				.title
					// padding	x: 5px
					

			.position-bar
				position: absolute
				left: 0
				top: 0
				bottom: 0
				// Variable width

				z-index: 0
				
				transition: width ease 0.7s, background ease 0.3s

	.circular-progress-bars
		margin: 20px
		text-shadow: 2px 2px 4px rgba(0,0,0,0.5)

		.title
			font-size: 18pt
			
		svg
			margin: 0 auto

.fade-enter-active, .fade-leave-active
	transition: opacity .3s

.fade-enter, .fade-leave-to
	// /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0
